.topbar {
    background-color: #494e62;
    height:7vh;
    color: white;
    font-weight: 500;
    font-size: 0.85em;
}

.glyph {
    color: #6b6ec7;
    font-weight: 200;
}

.verticalBorder {
    border-right: 2px solid gray;
    padding-left: 1em;
}